.content-wrapper {
    border-top: 1px solid grey;
}

.sticky-footer {
    flex-shrink: none;
}

.facebook, .instagramm, .twitter  {
    color: lightblue;
}

.social {
    width: 10rem;
    margin: 0 auto;
}